{% extends "header.html" %}

{% block content %}
  <title>SugarFree - Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/css/style-home.css">
  <body>
    
    <main class="page">
      <!-- พื้นที่คอนเทนต์ฝั่งซ้ายของหน้า Home -->
      <div class="left-container">

        <!-- ส่วนปุ่มประเมินความเสี่ยงโรคเบาหวาน -->
        <div class="assessment-box">
          <div class="text">
            แนะนำให้ใช้ข้อมูลผลเลือดหรือผลตรวจสุขภาพจากโรงพยาบาลประกอบการทำแบบทดสอบ
          </div>
          <form action="{{ url_for('predict_step', step=1) }}" method="get">
            <button button type="submit">Start Assessment</button>
          </form>
        </div>

        <!-- รูปภาพ main -->
        <div class="container">
          <div class="main-image">
            <img id="mainDisplay" src="../static/images/diabetes-prevention.jpg" alt="main" />
          </div>
        </div>
      </div>

      <!-- พื้นที่คอนเทนต์ฝั่งขวาของหน้า Home (เลือกรูปภาพให้แสดงฝั่งซ้าย)-->
      <div class="right-container">
        <div class="thumbnail-column">
          <img class="thumbnail" src="../static/images/diabetes-meaning.jpg" onclick="showImage(1)" />
          <img class="thumbnail" src="../static/images/diabetes-diagnosis.jpg" onclick="showImage(2)" />
          <img class="thumbnail" src="../static/images/diabetes-treatment-target.jpg" onclick="showImage(3)" />
          <img class="thumbnail" src="../static/images/diabetes-prevention.jpg" onclick="showImage(0)" />
        </div>
      </div>
    </main>

    <script>
      // รายการรูปภาพทั้งหมด
      const images = [
        "../static/images/diabetes-prevention.jpg",
        "../static/images/diabetes-meaning.jpg",
        "../static/images/diabetes-diagnosis.jpg",
        "../static/images/diabetes-treatment-target.jpg"
      ];

      // ตัวแปรเก็บ Index ปัจจุบันและสถานะการเปลี่ยนรูปอัตโนมัติ
      let currentIndex = 0;
      let autoRotate = true;

      // ฟังก์ชันแสดงรูปภาพตาม Index ที่เลือก
      function showImage(index) {
        currentIndex = index;
        document.getElementById("mainDisplay").src = images[currentIndex];
        autoRotate = false;
      }

      // เปลี่ยนรูปภาพอัตโนมัติทุก 9 วินาที
      setInterval(() => {
        if (autoRotate) {
          currentIndex = (currentIndex + 1) % images.length;
          document.getElementById("mainDisplay").src = images[currentIndex];
        }
      }, 9000);
    </script>

  </body>
{% endblock %}