<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SugarFree Welcome</title>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style-index.css" />
</head>
<body>
  <div class="circle">
    <div class="content">
      <h2 class="en">SugarFree</h2>
      <h1 class="en">WELCOME</h1>
      <p class="th subtitle">
        ตรวจเช็คความเสี่ยงโรคเบาหวานของคุณได้ง่าย ๆ ที่นี่!
      </p>
      <p class="th description">
        ระบบของเราช่วยประเมินความเสี่ยงของโรคเบาหวานผ่านข้อมูลสุขภาพ พร้อมคำแนะนำเพื่อดูแลตัวเอง
      </p>
      <a href="{{ url_for('sign') }}" class="th start-button">Let's start.</a>
    </div>
  </div>
</body>
</html>
